{% load static %}
{% include 'navbar.html' %}


<style>
    .container1 {
        text-align: center;
        margin: 20px auto;
        max-width: 800px;
        padding: 20px;
    }
    h1 {
        font-size: 24px;
        color: rgb(1, 129, 175);
        margin-bottom: 20px;
    }
    p {
        color: gray;
        font-size: 24px;
        margin: 10px 0;
    }
    .about {
        margin: 20px 0;
    }
    h6 {
        text-align: justify;
        font-size: 16px;
        color: #333;
        margin: 0 20px;
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 40px;
        }
        h6 {
            font-size: medium;
            margin: 0 50px;
        }
    }
</style>
</head>
<body>
<div class="container1">
    <h1>
        Built by a cinephile for fellow cinephiles, welcome to ChatCrewAI!
    </h1>
    <p>
        Fiction meets reality
    </p>
    <div class="about">
        <h6>
            The ultimate web app designed for movie lovers who crave engaging and immersive conversations with their favorite characters and actors. Whether you want to chat with the iconic heroes and villains from blockbuster movies, dive deep into the personas of beloved actors, or connect with fellow fans who share your passion, ChatCrewAI has you covered. Our platform lets you step into the shoes of your favorite characters and play roles in thrilling, imaginative scenarios. Experience the magic of cinema in a whole new way as you converse through chat, exploring the depths of your favorite stories and personalities. Whether you're looking to relive classic moments, explore new narratives, or simply share your love for movies with others, ChatCrewAI offers a unique and interactive space for movie enthusiasts to come together and create unforgettable experiences. Join us today and embark on a journey through the silver screen like never before!
        </h6>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>