{% load static %}
{% include 'navbar.html' %}
    <style>
        .container1 {
            width: 90%;
            max-width: 400px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 40px;
            box-sizing: border-box;
            margin: 40px auto;
            font-family: Arial, sans-serif;
            margin-top: 150px;
        }
        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            font-size: 16px;
            margin-bottom: 10px;
            color: #666;
        }
        input[type="email"], input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        button {
            padding: 12px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        .redirect-link {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }
        .redirect-link a {
            color: #007bff;
            text-decoration: none;
        }
        .redirect-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container1">
        <h2>Login</h2>
        {% if messages %}
                {% for message in messages %}
                    <div class="error-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <label for="email">Email:</label>
            <input type="email" name="email" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br>
            <button type="submit">Login</button>
        </form>
        <div class="redirect-link">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
            <br>
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
